# linux temporary files
*~

# emacs temporary files
\#*\#

# ignore pycharm files
.idea

# ignore coverage files
.coverage
cover

# python cache
__pycache__

# ignore static files
lcdmarket/api/static/

# sqlite3 database
*.sqlite3

# ignore docker compose file
docker-compose.yml

# ignore util scripts
deploy.sh